<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.webbdev.minilibris" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="me.webbdev.minilibris.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="me.webbdev.minilibris.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/book_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.webbdev.minilibris.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="me.webbdev.minilibris.database.MiniLibrisContentProvider"
            android:authorities="me.webbdev.minilibris.contentprovider"
            android:exported="false" >
        </provider>

        <receiver
            android:name="me.webbdev.minilibris.services.CloudBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="me.webbdev.minilibris" />
            </intent-filter>
        </receiver>

        <service android:name="me.webbdev.minilibris.services.SyncDatabaseIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="me.webbdev.minilibris.ui.BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:parentActivityName="me.webbdev.minilibris.ui.MainActivity" >
        </activity>
        <activity
            android:name="me.webbdev.minilibris.ui.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAiHQ0V8mhX6sMMWIsYDUET7bWn3z5hAbs" />

        <activity
            android:name=".ui.ContactActivity"
            android:label="Kontakta MiniLibris"
            android:parentActivityName="me.webbdev.minilibris.ui.MainActivity">
        </activity>
    </application>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>